<div class="form-wrapper">
  <mat-card>
    <img class="logo-img" src="assets/img/logo.png" alt="Admin particle logo">

    <form class="form form--auth"
          (submit)="onSubmit()"
          [formGroup]="registerForm">

      <mat-form-field>
        <input matInput
               formControlName="email"
               id="email"
               type="email"
               email="true"
               placeholder="Email address">

        <mat-error *ngIf="email.hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Filed is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               formControlName="first_name"
               id="first_name"
               type="text"
               placeholder="First name">

        <mat-error *ngIf="firstName.hasError('required')">
          Filed is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               formControlName="last_name"
               id="last_name"
               type="text"
               placeholder="Last name">

        <mat-error *ngIf="lastName.hasError('required')">
          Filed is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               formControlName="password"
               id="password"
               type="password"
               placeholder="Password">

        <mat-error *ngIf="registerForm.hasError('mismatchedPasswords')">
          Password does not matches
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Filed is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               [errorStateMatcher]="errorMatcher"
               formControlName="confirm_password"
               id="confirm_password"
               type="password"
               placeholder="Confirm password">

        <mat-error *ngIf="registerForm.hasError('mismatchedPasswords')">
          Password does not matches
        </mat-error>
        <mat-error *ngIf="confirmPassword.hasError('required')" >
          Filed is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Sign up</button>
    </form>
  </mat-card>
</div>
