<div class="agro-map__sidebar-menu agro-map__sidebar-menu--hide" #editbar>
  <button>back</button>

  <div class="agro-map__sidebar-container">
    <h2>Field history</h2>
    <h3>add information to your field</h3>

    <form class="form">

      <div class="form-control">
        <label class="form-control__label">Name</label>
        <div class="form-control__container">
          <input name="name" class="form-control__field">
        </div>
      </div>

      <div class="form-control">
        <label class="form-control__label">Description</label>
        <div class="form-control__container">
          <textarea name="name" class="form-control__field"></textarea>
        </div>
      </div>

      <div class="form-control">
        <button type="submit">Submit form</button>
      </div>
    </form>
  </div>
</div>
