// Buttons
// ==========================================================================

.btn {
  display: block;
  border-radius: 3px;
  color: #000;
  height: 38px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary-color;
  color: $inverse-color;
}


.btn-default {
  padding: 6px 12px;
  color: #484848;
  border: 1px solid #dce0e0;
  border-radius: 4px;

  &:hover {
    background-color: #f2f2f2;
  }
}
