.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .logo-img {
    max-width: 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}
