.auth-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  .logo-img {
    max-width: 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.form--auth {
  min-width: 260px;
  max-width: 500px;
  width: 100%;
}
