.dashboard-header {
  height: $header-height;
  background: $primary-color;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.dashboard-sidebar {
  width: 300px;
  height: 100vh;
  background: $neutral-color;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.dashboard-content {
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - #{$header-height});
}
