<div class="form-wrapper">
  <form class="login-form"
        (submit)="onSubmit()"
        [formGroup]="loginForm">
    <div class="form-group">
      <label for="email" class="form-group__label">Email address</label>
      <input formControlName="email"
             id="email"
             type="email"
             email="true"
             placeholder="Email"
             class="form-group__field"
             [ngClass]="{'error': hasError('email')}">
    </div>

    <div class="form-group">
      <label for="password" class="form-group__label">Password</label>
      <input formControlName="password"
             id="password"
             class="form-group__field"
             [ngClass]="{'error': hasError('password')}">
    </div>

    <button class="btn btn-primary" type="submit">Sign in</button>
  </form>
</div>
