<div class="form-wrapper">
  <mat-card>
    <img class="logo-img" src="assets/img/logo.png" alt="Admin particle logo">

    <form class="form form--auth form--login"
          (submit)="onSubmit()"
          [formGroup]="loginForm">

      <mat-form-field>
        <input matInput
               formControlName="email"
               id="email"
               type="email"
               email="true"
               placeholder="Email address">

        <mat-error *ngIf="email.hasError('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
          Filed is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput
               formControlName="password"
               id="password"
               type="password"
               placeholder="Password">

        <mat-error *ngIf="password.hasError('minlength')">
          Password should has min 6 symbols
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Filed is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </form>
  </mat-card>
</div>
