//
// Color variables
// ==========================================================================

// Main colors
$primary-color: #467fd0;
$secondary-color: #36364a;
$tertiary-color: #888cb1;
$fourth-color: #5b5d7b;

// Messages colors
$info-color: #5a5e6a;
$warning-color: yellow;
$danger-color: #f34e3C;
$success-color: #10b683;

// Neutral colors
$inverse-color: #fff;
$neutral-color: #f1f2f9;

$bg-neutral: #f5f7fb;
