//
// Layout settings
// ==========================================================================
$container-width: 1384px;
$border-radius-primary: 2px;


// Breakpoints
$desktop-xlg: 1440px;
$desktop-lg: 1200px;
$desktop-md: 1024px;
$tablet-lg: 960px;
$tablet-md: 48em;
$mobile-md: 480px;
$mobile-sm: 425px;


// z-index
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-10: 10;
$z-index-15: 15;
